@if (isAddingTask) {
    <app-new-task [userId]="user().id" (close)="onCloseAddTaskEvent()" />
}

<section id="tasks">
    
    <header>
        <h2>{{ user().name }}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTaskEvent()">Add Task</button>
        </menu>
    </header>

    <ul>
        @for (task of selectedUserTasks(); track task.id) {
            <li>
                <app-task-detail [task]="task" (complete)="onCompleteEvent($event)"/>
            </li>
        }
    </ul>
</section>